extends layout

block content
	doctype html
	html(lang="en")
		head
			h1= title
			meta(charset='utf-8')
			meta(name='viewport' content='width=device-width, initial-scale=1')
		section
			div(style={color:'blue',border:'1px solid black'})
			
			ul(style={padding:'5px',margin:'5px'})
				li(style={display:'block',margin:'5px',border:'1px solid black'})
					ul(style={padding:'5px',margin:'0px'})
						li(style={display:'inline-block'})
							img(src='https://pokatim.ru/uploads/posts/2021-03/1616075176_psfix_20190321_19091.jpeg' alt='' width='256px') 
						li(style={display:'inline-block',margin:'0px 0px 0px 50px'})
							h3 Роллы
							h6 Состав:
							h4 Сыр, сыр, сыр
				li(style={display:'block',margin:'5px',border:'1px solid black'})
					ul(style={padding:'5px',margin:'0px'})
						li(style={display:'inline-block'})
							img(src='https://yogavedi.ru/wp-content/uploads/2017/07/12170423.jpg' alt='' width='256px') 
						li(style={display:'inline-block',margin:'0px 0px 0px 50px'})
							h3 Пицца
							h6 Состав:
							h4 Сыр, сыр, сыр
				li(style={display:'block',margin:'5px',border:'1px solid black'})
					ul(style={padding:'5px',margin:'0px'})
						li(style={display:'inline-block'})
							img(src='https://karmelpilates.com/wp-content/uploads/b/b/e/bbe1b200efb3c249f118a7da7e41aa4b.jpeg' alt='' width='256px')  
						li(style={display:'inline-block',margin:'0px 0px 0px 50px'})
							h3 Крем-брюле
							h6 Состав:
							h4 Сыр, сыр, сыр
				li(style={display:'block',margin:'5px',border:'1px solid black'})
					ul(style={padding:'5px',margin:'0px'})
						li(style={display:'inline-block'})
							img(src='https://karmelpilates.com/wp-content/uploads/b/b/e/bbe1b200efb3c249f118a7da7e41aa4b.jpeg' alt='' width='256px')  
						li(style={display:'inline-block',margin:'0px 0px 0px 50px'})
							h3 Крем-брюле
							h6 Состав:
							h4 Сыр, сыр, сыр
				li(style={display:'block',margin:'5px',border:'1px solid black'})
					ul(style={padding:'5px',margin:'0px'})
						li(style={display:'inline-block'})
							img(src='https://karmelpilates.com/wp-content/uploads/b/b/e/bbe1b200efb3c249f118a7da7e41aa4b.jpeg' alt='' width='256px')  
						li(style={display:'inline-block',margin:'0px 0px 0px 50px'})
							h3 Крем-брюле
							h6 Состав:
							h4 Сыр, сыр, сыр
				li(style={display:'block',margin:'5px',border:'1px solid black'})
					ul(style={padding:'5px',margin:'0px'})
						li(style={display:'inline-block'})
							img(src='https://karmelpilates.com/wp-content/uploads/b/b/e/bbe1b200efb3c249f118a7da7e41aa4b.jpeg' alt='' width='256px')  
						li(style={display:'inline-block',margin:'0px 0px 0px 50px'})
							h3 Крем-брюле
							h6 Состав:
							h4 Сыр, сыр, сыр