extends layout

block content

	h1= title
	
	div(style={height:100,color:'blue',border:'1px solid black'})
	
	div(style={padding:'15px',margin:'5px',border:'1px solid black'})
		h4 ТИП КУХНИ
		p Итальянская, Средиземноморская, Кухня Эмилии-Романьи, Северно-итальянская
	div(style={padding:'15px',margin:'5px',height:100,border:'1px solid black'})
		h4 СПЕЦИАЛИЗИРОВАННОЕ МЕНЮ
		p Подходит для вегетарианцев, Для веганов, Безглютеновые блюда
	div(style={padding:'15px',margin:'5px',height:100,border:'1px solid black'})
		h4 ВРЕМЯ ПРИЕМА ПИЩИ
		p Обед, Ужин, Бранч, Открыто допоздна
	div(style={padding:'15px',margin:'5px',height:100,border:'1px solid black'})
		h4 УСЛУГИ
		p Бронирование, Столики на открытом воздухе, Места для сидения, Имеется парковка, Утвержденная парковка, Детские стульчики для кормления, Доступ для кресел-каталок, Подают алкоголь, Бесплатный Wi-Fi, Принимаются кредитные карты, Обслуживание посетителей за столиками
	div(style={padding:'15px',margin:'5px',height:100,border:'1px solid black'})
		h4 Контакты
		p Via Vandelli 416, 41053, Маранелло Италия.
		p +39 0536 944597